<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>New Post</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="publish()" [disabled]="collection.length < 1" color="dark">
        publish
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <p style="color: grey; margin-bottom: 5px">snap a moment</p>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="openCamera()" color="medium">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- TODO: make slide if collection more than 1 -->
  <div *ngFor="let post of collection">
    <div class="ion-text-center">
      <img [src]="post" style="object-fit: cover" alt="preview">
    </div>
  </div>

  <ion-item *ngIf="collection.length > 0">
    <ion-input style="font-size: 15px" [(ngModel)]="caption" name="caption" type="text" placeholder="write your caption"></ion-input>
  </ion-item>
</ion-content>