<ion-header>
  <ion-toolbar mode="ios">
    <ion-title *ngIf="profile; else elseBlock">{{ profile.username }}</ion-title>
    <ng-template #elseBlock>
      <ion-title>loading</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button (click)="showProfileOption()" color="dark">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="padding:0">
  <ng-container *ngIf="nopost; else elseTemplate">
    <ion-grid style="height: 100%; ">
      <ion-row justify-content-center align-items-center style="height: 100%">
        <span style="color:grey"> no post available at this time </span>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-template #elseTemplate>
    <ion-row>
      <ion-col *ngFor="let image of encode" style="padding: 0; margin: 0" size="4" size-md>
        <div (click)="detailPost(image.idposting)" class="ion-text-center">
          <img [src]="image.encode" width="120px" height="120px" />
        </div>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>