<ion-toolbar>
  <ion-searchbar style="margin-top: 20px;" (keyup)="find($event)" placeholder="Find user by it's username..."></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of result" (click)="goToProfileOf(user.username)">
      <ion-icon name="contact" style="color: rgb(185, 183, 183)" slot="start"></ion-icon>
      <ion-label style="font-size: 16px">{{ user.username }}</ion-label>
      <ion-icon name="remove"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>